body, html {
    margin: 0;
    overflow: hidden;
    background: #121212;
    
}

.webgl { 
    opacity: 0;
    position: absolute;
    z-index: -1;
}
#video-container {
    width: 100%;
    height: 100%;
}
video {
    width: 100%;
    position: absolute;
    z-index: 0;
    filter: blur(5px) brightness(.5);
    
}


